.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}

body{
    background-color: #004f8c;
background-image: url("https://www.transparenttextures.com/patterns/black-scales.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
}

.note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note input{
    padding: 5px;
    width: 80%;
}

.note textarea {
    width: 83.5%;
}