@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0px solid red;
    
}

h1{
    font-family: 'Bigelow Rules' !important;
}